 <div class="row margintop">
      <div class="span3 bs-docs-sidebar sidenav">
        <ul class="nav nav-list bs-docs-sidenav nav-tabs nav-stacked">
          <li class="active"><%=link_to "Company", company_path%></li>
          <li><%=link_to "Homeowners", homeowners_path%></li>
          <li><%=link_to "Contractors", contractors_path%></li>
          <li><%=link_to "Blog", "http://www.homespree.wordpress.com", :target=> "_blank"%></li>
          <li><%=link_to "Jobs", jobs_path%></li>
          <li><%=link_to "Contact", contact_path%></li>
        </ul>
      </div>
      <div class="span9 descriptiontext">
      	<h1>About Us</h1>
      	<br>
      	<br>
      	<h2>Company</h2>
      	<br>
      	<p>Homespree was founded in Brooklyn, NY in late 2012. In the aftermath of Hurricane Sandy, roommates Kyle Gesuelli and Joe Gesualdo began talking about the home improvement industry and how the traditional process of requesting and submitting home improvement estimates was  inefficient. Both saw an opportunity to leverage the rapid adoption of smartphones and mobile applications to improve the experience for both homeowners and contractors.</p>
      	<br>
     	<h2>Kyle Gesuelli</h2><h4>Co-founder / Director of Business Development</h4>
      	<br>
      	<p><img style="float:left; padding-right: 20px" src="/assets/kyleprofileimage.png">Kyle graduated Magna Cum Laude from The College of New Jersey in 2011 with a BS in Finance and Economics. After college, he went to work as a Financial Analyst at Bank of America Merrill Lynch. Kyle has always had a passion for home improvement; he operated a residential painting company throughout high school and college. He got his first taste of the startup world as a business development intern at Hometalk.com, a social hub for home improvement.</p>
      	<br>
      	<h2>Joe Gesualdo</h2><h4>Co-founder / Director of Product Development</h4>
      	<br>
      	<p><img style="float:left; padding-right: 20px; padding-top: 10px; padding-bottom: 30px;" src="/assets/joeprofileimage2.png">Prior to starting Homespree Joe worked as a valuation associate at PwC advising corporate clients and private equity firms on complex valuation matters. He has always had a passion for entrepreneurship and technology, and he is on a mission to disrupt stagnant industries with technology. 
        <br>
        <br>Joe also founded <%= link_to "Startup The City", "http://www.startupthecity.com"%>, an entrepreneurial event aggregator, to spread the bug of entrepreneurship around the world.
Joe graduated with honors from The College of New Jersey where he studied Finance.</p>

      </div>
</div>
 </div>