    
<div class="container">
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
<div class="container">
<%= link_to "Homespree", root_path , id: "navlogo" %> <nav>
<ul class="nav pull-right">
<li><%= link_to "", '#' %></li> <li><%= link_to "", '#' %></li> <li><%= link_to "", '#' %></li>
</ul> </nav>
        </div>
      </div>
    </header>

 <div class="row margintop">
      <div class="span3 bs-docs-sidebar sidenav">
        <ul class="nav nav-list bs-docs-sidenav nav-tabs nav-stacked">
          <li class="active"><%=link_to "Company", company_path%></li>
          <li><%=link_to "Homeowners", homeowners_path%></li>
          <li><%=link_to "Contractors", contractors_path%></li>
          <li><%=link_to "Blog", "http://www.homespree.wordpress.com" %></li>
          <li><%=link_to "Jobs", jobs_path%></li>
          <li><%=link_to "Contact", contact_path%></li>
        </ul>
      </div>
      <div class="span9 offset3 descriptiontext">
      	<h1>About Us</h1>
      	<br>
      	<br>
      	<h2>Company</h2>
      	<br>
      	<p>Homespree was founded in Brooklyn, NY in late 2012. In the aftermath of Hurricane Sandy, roommates Kyle Gesuelli and Joe Gesualdo began talking about the home improvement industry and how the traditional process of requesting and submitting home improvement estimates was  inefficient. Both saw an opportunity to leverage the rapid adoption of smartphones and mobile applications to improve the experience for both homeowners and contractors. Thus, Homespree was born.</p>
      	<br>
     	<h2>Kyle Gesuelli</h2><h4>Director Business Development</h4>
      	<br>
      	<p>Kyle graduated Magna Cum Laude from The College of New Jersey in 2011 with a BS in Finance and Economics. After college, he went to work as a Financial Analyst at Bank of America Merrill Lynch. Kyle has always had a passion for home improvement; he operated a residential painting company throughout high school and college. He got his first taste of the statrup world as a business development intern at Hometalk.com, a social hub for home improvement.</p>
      	<br>
      	<h2>Joe Gesualdo</h2><h4>Director Product Development</h4>
      	<br>
      	<p>Joe graduated Cum Laude from The College of New Jersey in 2011 with a BS in Finance. After college, he went to work as a Business Valuation Associate at PWC. Joe recently found his passion for entrepreneurship, startups and technology.</p>

      </div>
</div>
 </div>