    
<div class="container">
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
<div class="container">
<%= link_to "Homespree", root_path , id: "navlogo" %> <nav>
<ul class="nav pull-right">
<li><%= link_to "", '#' %></li> <li><%= link_to "", '#' %></li> <li><%= link_to "", '#' %></li>
</ul> </nav>
        </div>
      </div>
    </header>

 <div class="row margintop">
      <div class="span3 bs-docs-sidebar sidenav">
        <ul class="nav nav-list bs-docs-sidenav nav-tabs nav-stacked">
          <li><%=link_to "Company", company_path%></li>
          <li><%=link_to "Home Owners", homeowners_path%></li>
          <li><%=link_to "Contractors", contractors_path%></li>
          <li><%=link_to "Blog", "http://www.homespree.wordpress.com" %></li>
          <li><%=link_to "Jobs", jobs_path%></li>
          <li><%=link_to "Contact", contact_path%></li>
        </ul>
      </div>
      <div class="span9 offset3 descriptiontext">
      	<h1 class="center">Contractors</h1>
      	<br>
      	<h2>How it works</h2>
      	<br>
      	<h3>When to use Homespree</h3>
      	<br>
      	<p>So you just completed a full basement renovation that took 4 weeks. Unfortunately you don’t have any new jobs lined up. Situations like this are typically very stressful. How will you pay your crew? How long until a new job comes along? Should you spend more money on marketing? Homespree can help.

With Homespree, you don’t need to rely solely on broad advertising to acquire new customers. Instead of waiting for new customers to approach you, Homespree allows you to engage homeowners who are actively seeking a contractor for a new project.</p>
      	<br>
      	<h2>How to use the mobile app</h2>
      	<br>
      	<h3>Downloading the app</h3>
      	<br>
      	<p>The Homespree mobile app will be available in the App Store for iPhone and iPad and the Google Play Store for Android devices beginning in mid-2013.

      	While registering, you will be prompted to submit your zip code and service area radius. This, along with your selected home improvement areas of expertise will dictate which project requests are visible within the app.
		</p>
      	<br>
      	<h3>Submitting an estimate</h2>
      	<br>
      	<p>After registering as a new user, you will be ready to submit your first bid. You are able to filter for projects based on type, distance, and timeline. 
Make sure to scroll through all photos and details that the homeowner has submitted to get the full sense of the work being requested. If you require more details, there is an option to contact the homeowner. 

Bids from other contractors are not visible to ensure that you provide as accurate an estimate as possible. Keep in mind, price is only one factor upon which the homeowner will make the hire. 

meow
If the homeowner has chosen you for the job, you will receive a message via email and the app on you device, if you have selected to allow push notifications (recommended).
</p>
<br>
	<h3>Ratings and Reviews</h3>
	<br>
	<p>Homeowners will make their hire decision based on several factors, including price, ratings and reviews. To improve your chances of being selected for a project, ensure that you have reviews of adequate number and quality from previous customers. 

The mobile app allows you to pull in existing reviews from Yelp, if you have an account. If you do not, it is important that you reach out to past customers to submit reviews through the app or website at www.myhomespree.com/reviews.</p>
	<br>
	<h3>Pricing</h3>
	<br>
	<p>Homespree is a free service for homeowners. Homespree charges contractors a 2% commission fee only on the price of the jobs awarded. It is always free to join the site and submit estimates. Payment will only be collected if the job is awarded to you. The 2% commission is applied to the estimate price that you submitted, which was agreed upon by the homeowner.
</p>


      </div>
</div>
 </div>