    
<div class="container">
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
<div class="container">
<%= link_to "Homespree", root_path , id: "navlogo" %> <nav>
<ul class="nav pull-right">
<li><%= link_to "", '#' %></li> <li><%= link_to "", '#' %></li> <li><%= link_to "", '#' %></li>
</ul> </nav>
        </div>
      </div>
    </header>

 <div class="row margintop">
      <div class="span3 bs-docs-sidebar sidenav">
        <ul class="nav nav-list bs-docs-sidenav nav-tabs nav-stacked">
          <li><%=link_to "Company", company_path%></li>
          <li class="active"><%=link_to "Homeowners", homeowners_path%></li>
          <li><%=link_to "Contractors", contractors_path%></li>
          <li><%=link_to "Blog", "http://www.homespree.wordpress.com" %></li>
          <li><%=link_to "Jobs", jobs_path%></li>
          <li><%=link_to "Contact", contact_path%></li>
        </ul>
      </div>
      <div class="span9 offset3 descriptiontext">
      	<h1>Homeowners</h1>
      	<br>
      	<h2>How it works</h2>
      	<br>
      	<h3>When to use Homespree</h3>
      	<br>
      	<p>So it’s 2013 and your living room has wallpaper that was installed in 1982. You start thinking that it might just be time for an update. But how do you start?

		Traditionally, you may look in the phonebook for the numbers of several painters. You call up a list of 5 and have them come out to give you an estimate. Unfortunately, most arrive late or just don’t show up at all.

		This is where the Homespree mobile app can help. Nothing is more convenient when it comes to requesting home improvement estimates.</p>
      	<br>
      	<h2>How to use the mobile app</h2>
      	<br>
      	<h3>Downloading the app</h3>
      	<br>
      	<p>The Homespree mobile app will be available in the App Store for iPhone and iPad and the Google Play Store for Android devices beginning in mid-2013.
		</p>
      	<br>
      	<h3>Uploading a project request</h2>
      	<br>
      	<p>Homespree is designed to make your requests for home improvement estimates easy and convenient. After registering as a new user, you are ready to upload your first request.
Start by selecting what type of project you are requesting from the drop down lists. In the example above, you may choose Painting > Interior Painting > Whole Room > Remove Wallpaper and Paint.

Next, you will be prompted to take several pictures of your project using the camera on your device. Multiple images will give contractors a better idea of the work that needs to be completed and ensure a more accurate estimate. A minimum of 3 pictures is required; between 5-10 pictures is recommended.

For additional details, you can add comments below each picture after they are taken. Following image capture, you will be asked to input several additional details. In the above example, you will be asked to enter the dimensions of the room, whether or not you want the trim and/or ceiling painted, etc.

Finally, select by what date you need the estimate and by when you will need the project complete.</p>
<br>
	<h3>Reviewing the results</h3>
	<br>
	<p>After you submit your project request, you will be notified by email when a contractor submits an estimate. If you have selected to allow push notifications from the application (recommended) you will also be alerted on your device. After the period for contractors to submit bids has ended (based on the timeline you specify), you can review all the estimates using several built-in filters. These filters include price, contractor rating, and # of contractor reviews. You have the ability to see past ratings and read past reviews submitted online about the contractors that have offered estimates on your project.</p>
	<br>
	<h3>Making your choice</h3>
	<br>
	<p>Homespree provides you with the information you need to make a more informed decision on which contractor to hire for your home improvement project. With the app, you can make your decision based on several factors, including price, rating and reviews. 

Please note that the estimates provided through Homespree are only valid based on the disclosed details. Any undisclosed details or changes to the request may result in a change in price. It is recommended that you invite the contractor to your home for a final walk through before making any payments.
</p>


      </div>
</div>
 </div>