<div class="row margintop">
      <div class="span3 bs-docs-sidebar sidenav">
        <ul class="nav nav-list bs-docs-sidenav nav-tabs nav-stacked">
          <li><%=link_to "Company", company_path%></li>
          <li><%=link_to "Homeowners", homeowners_path%></li>
          <li><%=link_to "Contractors", contractors_path%></li>
         <li><%=link_to "Blog", "http://www.homespree.wordpress.com", :target=> "_blank" %></li>
          <li class="active"><%=link_to "Jobs", jobs_path%></li>
          <li><%=link_to "Contact", contact_path%></li>
        </ul>
      </div>
      <div class="span9 descriptiontext">
      	<iframe height="697" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://homespree.wufoo.com/embed/z7x3p3/"><a href="http://homespree.wufoo.com/forms/z7x3p3/">Fill out my Wufoo form!</a></iframe>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      </div>
</div>
 </div>